#index {

  > header {
    text-align: center;

    h1 {
      font-size: 300%;
      font-weight: normal;
      margin-bottom: 0;
    }

    p {
      font-size: 70%;
      margin-top: 0;
    }
  }

  > .coming {
    font-size: 200%;
    text-align: center;
    margin-top: 100px;
  }

}
